main {
	padding: 1rem;
	background: #F6F9FC;
	min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 599px){
	main {
		padding-bottom: 70px;
	}
	
}

.ellipse {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left {
	display: flex;
	align-items: center;
	justify-content: start;
}

.right {
	display: flex;
	justify-content: end;
}

.bold {
	font-weight: bold !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.p0 {
	padding: 0 !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.pr0 {
	padding-right: 0 !important;
}

.pb5px {
	padding-bottom: 5px !important;
}

.navShadow {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.cardShadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
	border-radius: 8px !important;
}

.productTitle {
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #373F50;
}

.navMenu {
	align-items: center;
}

.navMenu a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
	padding: 17px 16px;
	display: inline;
	position: relative;
	overflow: hidden;
	transition: color 0.3s ease-out;
}

.navMenu a:hover {
	color: #1976D2;
	transition: color 0.3s ease-out;
}

.navMenu a:after {
	content: "";
	position: absolute;
	z-index: -1;
	right: 0;
	width: 0;
	bottom: -5px;
	background: #1976D2;
	height: 3px;
	transition: width 0.3s ease-out;
}

.navMenu a:hover:after,
.navMenu a:focus:after,
.navMenu a:active:after
{
	left: 0;
	right: auto;
	width: 100%;
}

.center {
	justify-content: center;
}

.stickyTop {
	position: sticky;
	top: 80px;
}

.dFlexCenter {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.vCenter {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.selector {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width: 599px) {
	.backToTop {
		bottom: 80px !important;
	}
}

.detailPrice {
	font-size: 25px !important;
	font-weight: 700 !important;
	color: rgb(210, 63, 87) !important;
}

.productDetail a {
	text-decoration: none !important;
}

.cartList a {
	text-decoration: none !important;
	color: black;
}

#menu-appbar .MuiListItemText-root span {
	font-size: 0.92rem !important;
}

.overlay {
	position: relative;
}

.overlay:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}

.overlay:hover:after {
	border-radius: 5px;
	background-color: black;
	opacity: .3;
	-webkit-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}

.textMid {
	border-radius: 0.1rem;
	padding: 0.21rem;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	-webkit-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}

.overlay:hover .textMid {
	background-color: #1565C0;
	color: white;
	opacity: 1;
	-webkit-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}

/* .navShadow .MuiBox-root button:hover {
	background-color: #e8eaf6 !important;
	color: #1565C0 !important;
} */